td {
    border: 1px solid red;
    padding: 60px;
    width: 25px;
    text-align: center;
    font-size: 20px;
}

.next-turn {
    border: 1px solid red;
    width: 150px;
    height: 300px;
    margin: 0 auto;
    text-align: right;
}

section,
table {
    text-align: center;
    margin: 0 auto;
}

.aside {
    float: right;
    position: absolute;
}

input {
    border: 1px dotted black;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}

.createTTTBody {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: #2196F3;
    color: white;
    font-size: 15px;
}