td {
    border: 1px solid rgb(0, 110, 255);
    height: 61px;
    width: 70px;
    text-align: center;
    font-size: 18px;
}

td:hover {
    cursor: pointer;
}

.next-turn {
    border: 1px solid red;
    width: 150px;
    height: 300px;
    margin: 0 auto;
    text-align: right;
}

section,
table {
    text-align: center;
    margin: 0 auto;
}

input {
    border: 1px solid transparent;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
}

.createTTTBody {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: #2196F3;
    color: white;
    font-size: 15px;
    border: 0px;
}