td {
    /* border: 1px solid rgb(0, 110, 255); */
    border: 1px solid rgb(255, 0, 0);
    height: 61px;
    width: 70px;
    text-align: center;
    font-size: 18px;
    /* background: rgb(247, 247, 255); */
    font-weight: bold;
}

body {
    background-color: white;
}

td:hover {
    cursor: pointer;
}

.next-turn {
    border: 1px solid red;
    width: 150px;
    height: 300px;
    margin: 0 auto;
    text-align: right;
}

section,
table {
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border: 1px solid transparent;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
}

.createTTTBody {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: #2196F3;
    color: white;
    font-size: 15px;
    border: 0px;
}